* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #a1c3ff;
  color: #333;
}

img {
  max-width: 100%;
}

.pikachuimg {
  max-width: 5%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color: #3474e6;
  color: white;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
  /* margin-bottom: 8px; */
}

.navbar .logoimg {
  display: flex;
  margin-right: 100px;
}

.navbar a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.header {
  background-color: #0151cc;
  color: #fff;
  min-height: 400px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
}

.header img {
  max-width: 400px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background: #0a51cc;
  color: #fff;
  border-radius: 10px;
  box-shadow: 5px 3px 5px #333;
  margin: 20px 10px;
  padding: 15px 20px;
}

.buttonc {
  background: #7098dc;
  color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
}

.quotation {
  background-color: #0151cc;
  text-align: center;
  color: #fff;
  height: 200px;
  display: flex;
  align-items: center;
  font-style: italic;
}
.quotation p {
  text-align: right;
  margin-right: 70px;
  font-style: normal;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }
}
